.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

form {
  margin-top: 40px;
  margin-left: 25%;
  width: 50%;

}

table {
  margin-left: 20%;
  width: 50%;
  height: 50px;
  border-spacing: 0;
}
th {
  padding: 8px 0;
  border: 1px gray solid;
  background-color: #0000002c;
}

td {
  padding: 8px;
  background-color: lavender;
  text-align: center;
  border: 1px gray solid;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  border-radius: 4px;
  border: 0;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

input {
  padding: 10px;
  margin-bottom: 10px;
}

.Excluir {
  background-color: lightskyblue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
